* {
    margin: 0px;
    padding: 0px;
} 

header {
    background-color: #A43039;
    padding: 35px;
    margin-bottom: 0px;
}

header > h1 {
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    color: #F3EDE0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.princ  {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.princ main {
    flex: 1;
}

main {
    padding-top: 0px;
}

header > img {
    display: inline-block;
    width: 40px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

.sideNav li {
    margin: 5px 0px;
    padding: 10px;
    padding-right: 10px;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #A43039;
    padding-bottom: 2px;
    padding-top: 5px;
}

footer .action {
    margin-right: 20px;
    margin-left: 20px;
}

.sideNav > nav {
    border-right: 1px solid;
    border-color: #A43039;
    width: 170px;
    padding-right: 5px;
    min-height: 100vh;
}

.sideNav {
    display: inline-flex;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    width: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.sideSelect {
    background-color: #ffcfda;
    margin-left: 0px;
    padding: 10px;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.navAtvComp {
    display: inline-flex;
    margin-top: 0px;
    padding: 0px;
}

.navAtvComp a {
    display: inline-flex;
    margin-top: 0px;
    padding-top: 0px;
}

.navAtvComp ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    margin-top: 0px;
    padding-top: 0px;
}

.navAtvComp li {
    list-style-type: none;
    margin: 10px;
    margin-top: 0px;
    padding-top: 0px;
    padding: 10px;
    display: flex;
}

.navAtvComp li:hover {
    background-color: #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.atvCompSelect {
    background-color: #A43039;
    margin-left: 0px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

.sideNav li:hover {
    background-color: #A43039;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.aviso {
    display: inline-flex;
    margin-left: 40px;
    margin-top: 70px;
}


.containerAC {
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 200px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.warnBox {
    display: inline-flex;
    background-color: #ffcfda;
    border: 2px;
    border-color: #A43039;
    border-radius: 10px;
    margin: 40px;
    padding: 15px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela-container {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  table {
    border-collapse: collapse;
    width: 70%; 
    border: 3px solid black; 
  }
  th, td {
  border: 2px solid black; 
  padding: 8px;
  text-align: center;
  }
  
  th:first-child, td:first-child {
  width: 50%;
  }
  
  th:nth-child(2), td:nth-child(2),
  th:nth-child(3), td:nth-child(3) {
  width: 25%;
  }